body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: dodgerblue;
}

.main {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #343a40;
  margin: auto;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .main {
    width: 100%;
  }
}
.divStyle {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Setup */
:root {
  --black: #000000;
  --almost-black: #263238;
  --white: #ffffff;
  --almost-white: #FBFBFB;
  --grey-light: #CFD8DC;
  --grey: #B0BEC5;
  --grey-medium: #78909C;
  --grey-dark: #455A64;
  --primary: #1E88E5;
  --primary-dark: #1976D2;
  --secondary: #CFD8DC;
  --secondary-dark: #B0BEC5;
  --red: #EF4836;
}

/* Typography */
.center {
  text-align: center;
}

.right{
  position: absolute;
  right: 10px;
}

.left{
  position: absolute;
  left: 10px;
}

h1 {
  margin: 0.5em 0 1em;
  font-size: 26px;
  line-height: 1.2;
  color: var(--almost-black);
}

h2 {
  margin: 0.5em 0 1em;
  font-size: 20px;
  line-height: 1.2;
  color: var(--grey-dark);
}

h3{
  position: absolute;
  left:50px;
  top: 25px;
}

p {
  margin: 24px 0;
}

/* Cards */
.card-wrapper {
  margin: auto;
  padding: 90px 30px;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.card {
  margin: 0 30px 60px;
  padding: 20px 40px;
  width: 460px;
  box-shadow: 0 8px 26px -4px rgba(0,0,0,0.15);
  border-radius: 5px;
  background: var(--white);
}

.smallcard {
  margin: 0 30px 60px;
  padding: 20px 40px;
  width: 200px;
  box-shadow: 0 8px 26px -4px rgba(0,0,0,0.15);
  border-radius: 5px;
  background: var(--white);
}

.card1 {
  margin: 0 500px 100px;
  padding: 50px 650px;
  width: 1000px;
  box-shadow: 0 8px 26px -4px rgba(0,0,0,0.15);
  border-radius: 5px;
  background: var(--white);
  position: relative
}

.searchbar{
  position: relative;
  right:600px;
  top:70px;
  white-space:nowrap;
}
input[type=searchid] {
  width: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-image: url('searchicon.png');
  background-size: 30px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  position: relative;
  right:600px;
  top: 100px;
}

input[type=searchid]:focus {
  width: 500px;
}
#searchpass {
  width: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-image: url('password.png');
  background-size: 25px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  position: relative;
  right:600px;
  top: 100px;
}

#searchpass:focus {
  width: 500px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
th, td {
  border-spacing: 100px 100px;
 
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  right:550px;
  top:50px;
}

@media only screen and (max-width: 520px) {
  .card-wrapper {
    padding: 30px 0 0;
  }
}

@media only screen and (max-width: 520px) {
  .card {
    width: 100%;
    border-radius: 0;
  }
}

.bar{
  height: 40px;
	width: 50%;
  position: relative;
  left: 10px;
	display: flex;
	border-radius: 4px;
	overflow: hidden;
  border: 2px solid white;
  border-radius: 5px;
}

.bar section {
	height: 40px;
  position: relative;
  left: 10px;
	line-height: 35px;
	text-align: center;
	color: white;
}
.bar section:last-of-type {
	flex: auto;
}
#occupied {
  background: #eebc17;
}

#personal {
  background: #05395c;
}

#available {
  background: #42ac88;
}

/* Forms */
form {
  transition: opacity .15s ease;
}

form.loading {
  pointer-events: none;
  opacity: 0.75;
}

label {
  margin: 0 0 2px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: var(--grey-medium);
  display: block;
}

.field {
  margin: 0 0 24px;
  padding: 11px 16px 9px;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  color: var(--almost-black);
  border: 1px solid var(--grey);
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  display: block;
  background: var(--almost-white);
  transition: border-color .15s ease;
}

.field:focus {
  border-color: var(--grey-medium);
  outline: none;
}

.error {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--red);
}

.error--hidden {
  display: none;
}

/* Buttons */
.btn {
  margin: 0 0 24px;
  padding: 11px 30px 10px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  color: var(--white);
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background: var(--grey-medium);
  transition: color .15s ease, background-color .15s ease;
}

.move{
  position:relative;
  right:600px;
  top:90px
}

.btnLogout{
  margin: 0 0 24px;
  padding: 11px 30px 10px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  color: var(--white);
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background: var(--grey-medium);
  transition: color .15s ease, background-color .15s ease;
  position: relative;
  left:450px;
  bottom:730px;
}
.btnLogout:hover {
  background: var(--primary-dark);
}

.btnLogout--secondary {
  color: var(--almost-black);
  background: var(--secondary);
}

.btnLogout--secondary:hover {
  background: var(--secondary-dark);
}
.bigbtn{
  display: block;
  border: none;
  padding: 200px 250px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  border-style: dotted;
  background-color:rgba(0,0,0,0.2);
  text-align: center;
  position: relative; 
  bottom:200px
  
}

.btn:hover {
  background: var(--primary-dark);
}

.btn--secondary {
  color: var(--almost-black);
  background: var(--secondary);
}

.btn--secondary:hover {
  background: var(--secondary-dark);
}

input[type=submit] {
  margin: 34px auto 24px;
  display: block;
}

.btn-add{
  position: fixed;
  bottom: 10px;
  right: 30px;
}

#logout{
  display: flex;
  justify-content: flex-end;
}